/* FlightsStyles.css */

body {
  display: flex;
  justify-content: center; /* Centrează conținutul pe axa orizontală */
  align-items: center; /* Centrează conținutul pe axa verticală */
  min-height: 100vh; /* Utilizează cel puțin întreaga înălțime a ferestrei vizibile */
  margin: 0; /* Elimină marginile implicite ale corpului */
}

.flights-container {
  font-family: 'Arial', sans-serif;
  max-width: 1200px;
  padding: 20px;
  text-align: center; /* Centrarea conținutului */
  margin-bottom: 80px; /* Adaugă spațiu pentru footer */
}

h1 {
  color: #003580;
}

.search-form {
  display: flex;
  flex-direction: row; /* Așază elementele pe orizontală */
  gap: 10px; /* Asigură spațiere uniformă */
  margin-bottom: 20px;
  justify-content: center; /* Centrează butonul */
}

.search-form input,
.search-form button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1; /* Butonul și casetele de input împart spațiul egal */
}

.search-form button {
  background-color: #ff6200;
  color: white;
  cursor: pointer;
  border: none; /* Înlătură border-ul pentru butoane */
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Spațiere între carduri */
}

.card {
  width: calc(
    50% - 10px
  ); /* Se asigură că două imagini sunt pe aceeași linie */
  margin-bottom: 20px; /* Spațiere între rânduri */
  position: relative;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px; /* Se aplică border-radius la imaginile cardului */
}

.route-info {
  padding: 15px;
  background-color: #f8f8f8;
  text-align: center;
}

.route-info h3 {
  margin: 0;
  color: #003580;
}

.route-info p {
  margin: 0;
  color: #555;
}

.footer {
  position: fixed; /* Fixează footerul în partea de jos a paginii */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.quantity label {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
}

.quantity select {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  background-color: white;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quantity select:hover {
  border-color: #888;
}

.quantity select:focus {
  border-color: #0056b3;
  background: #fff;
  color: #333;
}

.search-result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}
.route-info {
  flex-grow: 1;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  margin-right: 20px;
}

.reservation-details {
  display: flex;
  align-items: center;
  background: #e6e6e6;
  padding: 10px;
  border-radius: 8px;
}
