.selects-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.selects-img img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    flex-grow: 1;
}

.selects-img:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay h3 {
    margin: 0;
    font-size: 1.5rem;
}
