.selects {
    padding: 20px 0;
}

.selects .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

@media screen and (max-width: 740px) {
    .selects .container {
        grid-template-columns: 1fr;
    }
}
